<!doctype html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>UCR Library Creat'r Lab Check-in</title>

  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-wizard/dist/angular-wizard.min.css">
  <link href="css/site.css" rel="stylesheet">

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>

    <!-- Environment variables -->
    <script src="scripts/env.js"></script>

  <script type="text/javascript" src="scripts/app.js"></script>
</head>

<body ng-controller="MainController as main" class="text-center">
  <main role="main">
    <wizard on-finish="finishedWizard()" on-cancel="cancelledWizard()" hide-indicators="true" class="form-signin">
      <img class="mb-4" src="images/logo.png" alt="" width="350">
      <wz-step wz-title="Check-in">
        <h1 class="h3 mb-3 font-weight-normal">Please swipe to check-in</h1>
        <input type="password" id="card" class="form-control" ng-model="main.visit.visitor" required autofocus>
        <input class="btn btn-lg btn-primary btn-block" type="submit" wz-next value="Check-in">
      </wz-step>
      <wz-step wz-title="Reason for visit">
        <h1 class="h3 mb-3 font-weight-normal">What brings you in today?</h1>
        <div class="row">
          <div ng-repeat="reason in main.reasonsForVisit" class="col-md-4 text-center" wz-next="main.setReasonForVisit(reason)">
            <i class="{{ reason.icon }} display-2 text-primary"></i>
            <br>
            <p>{{ reason.title }}</p>
          </div>
        </div>
      </wz-step>
      <wz-step wz-title="Finish">
        <p>Have fun!</p>
        <button class="btn btn-lg btn-primary btn-block" class="h3 mb-3 font-weight-normal" ng-click="main.reset()">Thanks for visiting</button>
      </wz-step>
    </wizard>
  </main>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">&copy; 2018 UCR Library</span>
    </div>
  </footer>
</body>

</html>